.div1
            {
                background-color: rgba(24, 101, 129, 0.492);
                color: red;
                font-family: monospace;
                font-size: 25px;
                font-weight: bold;
            }
            .div2
            {
                background-color: skyblue;
                height: 200px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                text-align: center;
                color: black;
                box-sizing: border-box;
            }
            .div3
            {
                background-color: skyblue;
                height: 200px;
                width: 48px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                text-align: center;
                color:black

            }
            .div4
            {
                background-color: skyblue;
                height: 200px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                text-align: center;
                color: black;
            }
            .div5
            {
                background-color: skyblue;
                color: skyblue;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
            }
            .div6
            {
                background-color: skyblue;
                color: skyblue;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
            }
            .div7
            {
                background-color: skyblue;
                color: skyblue;
                font-size: 15px;
                font-weight: bold;
                text-align: left;

            }
            .div8
            {background-color: skyblue;
                color: rgb(24, 25, 25);
                font-size: 15px;
                font-weight: bold;
                text-align: left;
            }
            .div9
            {
                background-color: skyblue;
                color: skyblue;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
        
            }
            .div10
            {
                background-color: skyblue;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                text-align: left;
                color: black; 
                
            }
            .p1
            {
                background-color: black;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
                color: black;
                width: 300;
            }
            html
            {
                text-align: center;
                background-color: skyblue;
            }
            .S
            {
                background-color: skyblue;
                height: 200px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                text-align: left;
                color: black;
                box-sizing: border-box;
                float: left;
            }
            .R
            {
                background-color: skyblue;
                /* height: 200px; */
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                /* font-size: 15px; */
                text-align: center;
                color: black;
                box-sizing: border-box;
                float: center;
                /* padding: bottom 20px; */
            }       
            label
            {
                display: inline-block;
            }
            input
            {
                border: black;
                display: inline-block;
                /* padding-block-end: 20px; */
                
            }